<mat-toolbar color="primary">
   <button mat-raised-button class="mat-raised-button" [routerLink]="['/']"><mat-icon>home</mat-icon>Home</button>
   <button mat-raised-button class="mat-raised-button" [routerLink]="['/about']"><mat-icon> bubble_chart</mat-icon>About</button>
   <button mat-raised-button class="mat-raised-button" [routerLink]="['/catalog']"><mat-icon>book</mat-icon>Book Catalog</button>
   <button mat-raised-button class="mat-raised-button" [routerLink]="['/search']"><mat-icon>search</mat-icon>Search</button>
   <button mat-raised-button class="mat-raised-button" color="accent" [routerLink]="['/login']"><mat-icon> transit_enterexit</mat-icon>Login</button>
   <button mat-raised-button class="mat-raised-button" color="accent" [routerLink]="['/register']"><mat-icon>account_circle</mat-icon>Register</button>
   <!-- Add more buttons as needed -->
   <button mat-raised-button class="mat-raised-button" color="accent" [routerLink]="['/logout']"><mat-icon>exit_to_app</mat-icon>Logout</button>
   <button mat-raised-button class="mat-raised-button" color="accent" [routerLink]="['/profile']"><mat-icon>color_lens</mat-icon>Profile</button>
 </mat-toolbar>
