<div class="center-div" *ngIf="isLoading">
   <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
   <div class="header">
      <p>The Book Corner Catalog</p>
   </div>
   <div class="header">
      <button mat-raised-button color="accent" [routerLink]="['/add-book']"><mat-icon>add_circle_outline</mat-icon> Add
         New
         Book!</button>
   </div>

   <mat-paginator class="pagin-font" [length]="totalBooks" [pageSize]="12" (page)="pageChanged($event)"></mat-paginator>
   <hr>
</div>

<mat-grid-list cols="3" rowHeight="1:0.7" *ngIf="!isLoading">
   <mat-grid-tile class="catalog-grid-tile" *ngFor="let book of books">
      <mat-card>
         <mat-card-header>
            <mat-card-title-group>
               <mat-card-title>{{book.title}}</mat-card-title>
               <mat-card-subtitle>by {{book.author}}</mat-card-subtitle>
               <mat-card-subtitle>
                  <hr>
               </mat-card-subtitle>
               <mat-card-subtitle>
                  <div class="stars">
                     <div class="sub-title">Rating: </div>
                     <div *ngFor="let star of (book.averageRating ? getStars(book.averageRating).full : [])">
                        <mat-icon>star</mat-icon>
                     </div>
                     <div *ngFor="let star of (book.averageRating ? getStars(book.averageRating).half : [])">
                        <mat-icon>star_half</mat-icon>
                     </div>
                     <div *ngFor="let star of (book.averageRating ? getStars(book.averageRating).empty : [])">
                        <mat-icon>star_border</mat-icon>
                     </div>
                  </div>
               </mat-card-subtitle>
               <mat-card-subtitle>
                  <div class="sub-title">Genre: {{book.genre}}</div>
               </mat-card-subtitle>
               <mat-card-subtitle>
                  <div class="sub-title" *ngIf="book.isRented; else bookIsFree">Status: Unavailable </div>
               </mat-card-subtitle>
               <mat-card-subtitle><ng-template #bookIsFree>
                     <div class="sub-title">Status: Available</div>
                  </ng-template></mat-card-subtitle>
               <img mat-card-lg-image src="{{book.coverUrl}}" alt="book cover">
            </mat-card-title-group>
         </mat-card-header>
         <mat-card-content>
            <p class="label">Description / Resume by the Book Owner:</p>
            <p>{{book.description}}</p>
         </mat-card-content>
         <mat-card-actions>
            <button mat-raised-button color="primary"
               [routerLink]="['/catalog', book._id]"><mat-icon>chevron_right</mat-icon>Details</button>
         </mat-card-actions>
      </mat-card>
   </mat-grid-tile>
</mat-grid-list>