.center-div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.catalog-grid-tile {
   margin: 5px;
 }

.label{
   font-weight: bold;
   font-size: 14px;
   font-style: oblique;
}

.btn-bckgr {
   background-color: #F5CE3E;
}