@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  height: 100%;
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  height: 80px;
}

@media (max-width: 480px) {
  footer {
    display: none;
    visibility: hidden;
  }
}
