.center-div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.top-div {
   margin: 30px;
   display: flex;
   justify-content: center;
   height: auto;
}

.stars {
   display: flex;
   align-items: center;
}