<div class="center-div" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="header" *ngIf="!isLoading">
  <p>Book Comments</p>
</div>
<div class="header" *ngIf="!isLoading">
  <button mat-raised-button color="accent" (click)="newComment()">
    <mat-icon>comment</mat-icon> Add New Comment
  </button>
</div>

<mat-paginator
  class="pagin-font"
  [length]="totalComments"
  [pageSize]="2"
  [pageIndex]="currentPage"
  (page)="pageChanged($event)"
></mat-paginator>
<hr />

<div class="top-div-comments" *ngIf="!isLoading && this.hasResults">
  <mat-accordion *ngFor="let comment of comments">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title class="panel-title">
          <button mat-icon-button color="basic" click="">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" click="">
            <mat-icon>delete</mat-icon>
          </button>
          <hr />
        </mat-panel-title>

        <mat-panel-title class="panel-title">
          User:<br />{{comment.user.username}}
          <hr
        /></mat-panel-title>
        <mat-panel-title class="panel-title">
          From:<br />{{ comment.createdAt | date: "dd MMMM yyyy" }}
          <hr />
        </mat-panel-title>
        <mat-panel-title class="panel-title">
          Title:<br />{{comment.title}}
          <hr />
        </mat-panel-title>
        <mat-panel-title class="panel-title">
          I rate this book: {{comment.ratedBookWith}} / 5
          <hr />
        </mat-panel-title>
        <mat-panel-title class="panel-title">
          Comment useful?
          <button mat-icon-button color="basic" onclick="">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <p>{{ 0 }}</p>
          <button mat-icon-button color="basic" onclick="">
            <mat-icon>thumb_down</mat-icon>
          </button>
          <p>{{ 0 }}</p>
          <hr />
        </mat-panel-title>

        <mat-panel-description class="panel-description">
          {{ panelOpenState ? "Hide Comment Text..." : "Show Comment Text..." }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{comment.commentBody}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="top-div-comments" *ngIf="!isLoading && !this.hasResults">
   <mat-card>
     <mat-card-header>
       <mat-card-title>
         <h2>No Comments to show at this time</h2>
       </mat-card-title>
     </mat-card-header>
   </mat-card>
 </div>
 
