.mat-dialog-content-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 50vh;
}

.form-header {
  align-items: center;
  justify-content: flex-start;
  color: black;
}

.mat-form-comment {
  width: 43vh;
}

.field-label {
  color: black;
}

.submit-comment-btn {
  text-align: right;
  margin: 15px;
}
