<mat-toolbar color="primary">
   <button mat-button [routerLink]="['/home']" class="nav-button">Home</button>
   <button mat-button [routerLink]="['/about']" class="nav-button">Books Catalog</button>
   <button mat-button [routerLink]="['/search']" class="nav-button">Search</button>
   <button mat-button [routerLink]="['/login']" class="nav-button">Login</button>
   <button mat-button [routerLink]="['/register']" class="nav-button">Register</button>
   <button mat-button [routerLink]="['/logout']" class="nav-button">Logout</button>
   <button mat-button [routerLink]="['/profile']" class="nav-button">Profile</button>
   <button mat-button [routerLink]="['/about']" class="nav-button">About Me</button>
</mat-toolbar>