.center-div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.top-div {
   margin: 30px;
   display: flex;
   justify-content: center;
   height: auto;
}

.title {
   font-size: larger;
}

.mat-form-field {
   width: 100%;
}