@import './../main.module.scss';

.card-more-margin{
   margin: 5px
}

.stars {
   display: flex;
   align-items: center;
}

.title {
   font-size: xx-large;
}

.home-mat-card {
   margin: 75px;
   display: flex;
   align-items: center;
}