@import './../users.module.scss';

.label{
   font-weight: bold;
}

.sub-title {
   font-size: medium;
   margin: 10px;
}

.mat-raised-button {
   margin: 20px;
}

.mat-form-field2 {
   width: 650px;
}

.table-profile-books{
   width: 100%;
   border-spacing: 15px;
}